body {
    background-color: rgb(0, 0, 10);
}

.cynthia-present {
    width: 400px;
    height: 400px;
    background-color: rgb(0, 0, 10);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url('./Pics/gif.gif');
    background-size: cover;
    background-position: center;
    border-radius: 200px;
}
